body{
			background: #222222;
			font-family: 'Big Shoulders Display', cursive;
			font-size: 50px;
			color: #FFFFFF;
		}

		.Title {
			text-align: center;
			background: #C4DDE4;
			font-family: 'Bodoni Moda', serif;
			font-size: 75px;
			color: #0B2161;
		}

		.Welcome {
			text-align: center;
			font-size: 100px;
      line-height: 0px;
		}

		.ObamaImage {
			padding-left: 25px;
			height: 200px;
			opacity: 1;
		}

		.maybetest {
			text-align: center;
			font-size: 70px;
      margin: 0px;
      border: 0px;
      padding: 0px;
		}
    .websitefor {
      text-align: center;
      font-size: 100px;
    }
    .jk{
      font-size: 30px;
      padding-bottom: 20px;
      text-align: center;
      line-height: 0px;
    }
    #helloButton{
      float: left;
      color: #FFFFFF;
      background-color: black;
      height: 100%;
      font-size: 75px;
    }
    